<div class="container-fluid">
    <h1 class="text-center my-5">Editar contacto</h1>
    <div class="row pb-5">
        <div class="col-12 col-md-6 offset-0 offset-md-3 pt-3 mb-3">
            <form novalidate class="form-control text-primary py-1" [formGroup]="form" (ngSubmit)="saveData()">
                <div>
                    <label class="form-label" for="nombre">Nombre</label>
                    <input id="nombre" class="form-control" formControlName="nombre" type="text" required>
                </div>

                <div>
                    <label class="form-label" for="telefono">Telefono</label>
                    <input formControlName="telefono" class="form-control" id="telefono" min="0" required  name="telefono" type="number"
                    >
                </div>

                <div>
                    <label for="fecha_nacimiento">Fecha de nacimiento</label>
                    <input class="form-control" formControlName="fecha_nacimiento" id="fecha_nacimiento"
                        name="fecha_nacimiento" type="date" required>
                </div>

                <div>
                    <label for="direccion">Dirección</label>
                    <input class="form-control" formControlName="direccion" id="direccion" name="direccion" type="text"
                        required>
                </div>

                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" class="form-control" formControlName="email"  id="email"  ngModel email required>
                </div>

                <div class="text-center pt-3">
                    <button class="btn btn-primary mb-3" pButton type="submit"  label="Guardar"
                        [disabled]="form.invalid">Guardar</button>
                </div>
            </form>
        </div>

    </div>

</div>